  <div class="row">

    <div class="col-md-7">
      <div class="card" style="width: 18rem;">
        <img [src]="img1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">BORDER</h5>
          <p class="card-text">La historia de amor más extraña que veremos este año. Un relato sumergido en el realismo mágico que habla no sólo de las fronteras exteriores, sino sobre todo de las que viven dentro de nosotros. La historia nos presenta a una mujer que siempre se ha sentido diferente y aislada, hasta que conoce a un hombre que es extrañamente parecido a ella. Como de su misma especie.</p>
          <a [routerLink]="['/pelicula2']" class="btn btn-primary">Comprar Tiquete</a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card" style="width: 18rem;">
        <img [src]="img2" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Nación salvaje</h5>
          <p class="card-text">En el pueblo de Salem, cuatro mujeres serán purgadas por los hombres del lugar por crímenes que no han cometido, o juicios de valor en los que ellas no han tenido ni voz ni voto ni culpa.</p>
          <a [routerLink]="['/pelicula1']" class="btn btn-primary" >Comprar Tiquete</a>
        </div>
      </div>
    </div>
  </div>


